body {
    background-color: #EDEDED;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    justify-content:center;
    align-items: center;
    display: flex;
    gap: 10px;
    
} 

#game {
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;

    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buttonsLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    
}

.buttonsRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    
}

.button {
    font: initial;
    height: 30px;
    width: 150px;
    border-style: none;
    margin: 10px 0px;
    background-color: #EDEDED;
    -webkit-transition: .2s;
    transition: box-shadow .2s;
    transition: background-color .2s;
    padding: 0;
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-style:normal;
    border-radius: 5px;
    border: 1px solid grey;
}
.button:hover{
    background-color: rgb(214, 214, 214);;
    box-shadow:rgba(0, 0, 0, 0.7) 0px 3px 8px;
}

.slidecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EDEDED;
    width: 150px;
    height: 50px;
    margin: 10px 0px;
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-style:normal;
    border-radius: 5px;
    border: 1px solid grey;
}

.slidecontainer:hover{
    box-shadow:rgba(0, 0, 0, 0.7) 0px 3px 8px;
}


.colorCheckerBox {
    width: 20px;
    height: 20px;
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
}

#colorRemember {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 5px;
}

#colorSelector{
    opacity: 0;
    display: flex;
    border: none;
    padding: 0px;
}

#colorPicker{
    position: relative;
}

#pickme,
#colorSelector {
    position: absolute;
    top : 0;
    left: 0;
}

#pickme {
    pointer-events: none;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonClicked {
    background-color: #cbcbcb;
}

#drawingRemember {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

#drawingRemember > *{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

img {
    border-radius: 5px;
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}